<form action="/file-upload/" method="POST" enctype="multipart/form-data">
    <h3>Upload File</h3>
    <input type="file" name="sampleFile" accept="image/*">
    <button type="submit" class="btn btn-sm btn-success">Simpan</button>
</form>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <div class="card">
            <img class="card__image" src="/img/default.jpg" alt="User Profile">
            
            <h1 class="card__title"></h1>
            <div class="card__job"></div>
            <p class="card__about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eligendi quasi ipsum suscipit placeat amet explicabo aspernatur asperiores maiores earum totam, nesciunt voluptatem reprehenderit, impedit quo tempore cum tenetur, adipisci deserunt quaerat doloribus sed. Labore, debitis hic omnis sit odio ea.
            </p>
            <button type="button" class="btn btn-primary">View Profile</button>

        </div>
    </div>
</div>